#  <font color='darkblue'>*Marina Napoleão - EBAC*</font>

# **MÓDULO 24 - Bancos de Dados + SQL**

Para nossa atividade inicial de SQL trabalharemos com uma base de vendas.
Abaixo temos o ambiente de preparo para trabalharmos com o SQL lite.

In [1]:
import sqlite3 #Importando a biblioteca necessária
import pandas as pd

C:\Users\marina\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
C:\Users\marina\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:61: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
print(sqlite3.sqlite_version)

3.39.3

In [3]:
df_vendas = pd.read_csv("TB_VENDAS_TAREFA.csv", delimiter=';')

In [4]:
conn = sqlite3.connect(':memory:')
df_vendas.to_sql('tb_vendas', conn, index=False, if_exists='replace')

24

In [5]:
def run_query(query):
    return pd.read_sql_query(query, conn)

-----

# 1) Faça uma consulta que retorne todos os dados da nossa tabela de vendas, com todas linhas e todas colunas.

In [6]:
query = "SELECT * FROM TB_VENDAS"
result_df = run_query(query)
print(result_df)

    ID_COMPRA  ID_CLIENTE   PRODUTO VALOR_UNID  UNIDADES
0        1247        9081  CAMISETA       34,5         2
1        1248        9081     CALCA       89,9         1
2        1250        9560  CAMISETA       34,5         1
3        1249        9630   BERMUDA       79,5         2
4        1251        9425  CAMISETA       34,5         3
5        1252        9425   VESTIDO        102         1
6        1253        9481     CALCA       89,9         2
7        1254        9785      MEIA       25,9         1
8        1255        9786     CALCA       89,9         2
9        1256        9787   VESTIDO        102         1
10       1257        9788     CALCA       89,9         2
11       1258        9789  CAMISETA       34,5         3
12       1259        9790  CAMISETA       34,5         1
13       1260        9791   BERMUDA       79,5         2
14       1261        9792  CAMISETA       34,5         2
15       1262        9793     CALCA       89,9         2
16       1263        9794     CALCA       89,9         1
17       1264        9795   BERMUDA       79,5         2
18       1265        9796  CAMISETA       34,5         4
19       1266        9797  CAMISETA       34,5         1
20       1267        9798   VESTIDO        102         2
21       1268        9799      MEIA       25,9         3
22       1269        9800  CAMISETA       34,5         2
23       1270        9801     CALCA       89,9         1

----------

# 2) Faça uma consulta que retorne apenas 10 linhas da coluna produto.

In [7]:
query = "SELECT PRODUTO FROM TB_VENDAS LIMIT 10"
result_df = run_query(query)
print(result_df)

    PRODUTO
0  CAMISETA
1     CALCA
2  CAMISETA
3   BERMUDA
4  CAMISETA
5   VESTIDO
6     CALCA
7      MEIA
8     CALCA
9   VESTIDO

--------

# 3) Faça uma consulta que retorne a média do valor por unidade e também das unidades vendidas. Não se esqueça de renomear o nome das colunas ao cria-las.

In [8]:
query = "SELECT AVG(VALOR_UNID) AS MEDIA_VALOR_UNID_VENDIDAS, AVG(UNIDADES) AS MEDIA_UNID FROM TB_VENDAS"
result_df = run_query(query)
print(result_df)

   MEDIA_VALOR_UNID_VENDIDAS  MEDIA_UNID
0                  63.416667    1.833333

--------

# 4) Note que na nossa tabela não temos o total de valor gasto por compra, temos o valor do produto e a quantidade vendida, para termos o valor total precisamos multiplicar essas duas colunas e para multiplicar colunas usamos o *.
# Faça uma consulta que retorne a coluna ID_COMPRA, ID_CLIENTE e o valor total gasto.

Ex: SELECT TICKET_MEDIO*UNIDADE FROM TB_EXEMPLO

In [9]:
query = "SELECT ID_COMPRA, ID_CLIENTE, (VALOR_UNID * UNIDADES) AS Valor_Total_Gasto FROM TB_VENDAS"
result_df = run_query(query)
print(result_df)

    ID_COMPRA  ID_CLIENTE  Valor_Total_Gasto
0        1247        9081                 68
1        1248        9081                 89
2        1250        9560                 34
3        1249        9630                158
4        1251        9425                102
5        1252        9425                102
6        1253        9481                178
7        1254        9785                 25
8        1255        9786                178
9        1256        9787                102
10       1257        9788                178
11       1258        9789                102
12       1259        9790                 34
13       1260        9791                158
14       1261        9792                 68
15       1262        9793                178
16       1263        9794                 89
17       1264        9795                158
18       1265        9796                136
19       1266        9797                 34
20       1267        9798                204
21       1268        9799                 75
22       1269        9800                 68
23       1270        9801                 89

---------

# 5) [DESAFIO] Faça uma consulta que traz a média do valor total gasto que foi calculado no exercício anterior. Note que não queremos a média por pedido e sim a média total, apenas essa informação deve vir na consulta.

In [10]:
query = "SELECT AVG(VALOR_UNID * UNIDADES) AS Media_Total_Gasto FROM TB_VENDAS"
result_df = run_query(query)
# Exibir o resultado
print(result_df)

   Media_Total_Gasto
0            108.625

------------

# 6) Diferencie com suas palavras, considerando o repertório que tem criado da área de dados, a utilizadade do SQL e do Python para ciência de dados.
Minimo 2 linhas.

<font color='darkblue'> O SQL é ótimo para filtrar e organizar os dados de maneira rápida e clara, enquanto o Python é bom para analisar, explorar e modelar esses dados de forma mais complexa usando bibliotecas como pandas e seaborn.</font>

# 7) Diferencie com suas palavras banco de dados relacionais de não relacionais.
Minimo 3 linhas.

<font color='darkblue'>O banco de dados relacional é ideal para dados estruturados, pois possui uma estrutura rígida, utiliza a linguagem SQL para organizar e consultar os dados em tabelas e permite que eles se relacionem entre si. Já o banco de dados não relacionais (NoSQL) é mais flexível e adequado para dados não estruturados ou semi-estruturados em grande volume, como acontece no MongoDB.</font>

# 8) Queremos saber da sua opinião, acredita que o SQL pode ser mais prático que o Python para consultas rápidas? Justifique.
Muitas vezes durante a carreia você terá que escolher qual linguagem utilizar para cada momento afim de entregar o que é solicitado o mais rápido e com qualidade possível, exercite sua argumentação = )

Minimo 3 linhas.

<font color='darkblue'>O SQL é para a extração e manipulação de dados. Ele permite consultar, filtrar, agregar e organizar de forma rápida e eficiente uma grande quantidade de dados. Já o Python é uma linguagem de programação que se adequa melhor à análise, modelagem, visualização e automação de processos, pois utiliza bibliotecas como o pandas, numpy e matplotlib para realizar mudanças complexas nos dados e construção de modelos preditivos.</font>