# <font color='darkblue'>*Marina NapoleÃ£o - EBAC*</font>

## <font color='darkblue'>Projeto OperaÃ§Ãµes BÃ¡sicas SQL</font>

ðŸ”¹ LIMIT âž” Ã© usada para restringir o nÃºmero de linhas retornadas por uma consulta

ðŸ”¹ AVG( ) âž” selecionar a mÃ©dia da coluna

ðŸ”¹ SUM( ) âž” selecionar a soma da coluna

ðŸ”¹ AS âž” alterar o nome de uma coluna em uma consulta SQL, vocÃª pode usar a clÃ¡usula AS. Isso permite que vocÃª renomeie colunas no resultado da consulta sem alterar os nomes das colunas na tabela original.

ðŸ”¹ DESC âž” decrescente

ðŸ”¹ ASC âž” cerscente

ðŸ”¹ INT âž” armazenar numeros inteiros. ex: CAST(COLUNA AS INT)

ðŸ”¹ GROUP BY âž” agrupando

## **MÃ“DULO 25 - OperaÃ§Ãµes BÃ¡sicas SQL**

Para nossa atividade inicial de SQL trabalharemos com uma base de vendas.
Abaixo temos o ambiente de preparo para trabalharmos com o SQL lite.

In [1]:
import sqlite3 #Importando a biblioteca necessÃ¡ria
import pandas as pd

C:\Users\marina\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
C:\Users\marina\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:61: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
df_vendas = pd.read_csv("TB_VENDAS_TAREFA.csv", delimiter=';')

In [3]:
conn = sqlite3.connect(':memory:')
df_vendas.to_sql('tb_vendas', conn, index=False, if_exists='replace')

24

In [4]:
def run_query(query):
    return pd.read_sql_query(query, conn)

In [5]:
query = """
SELECT
*
FROM TB_VENDAS
"""
result_df = run_query(query)
print(result_df)

    ID_COMPRA  ID_CLIENTE   PRODUTO VALOR_UNID  UNIDADES
0        1247        9081  CAMISETA       34,5         2
1        1248        9081     CALCA       89,9         1
2        1250        9560  CAMISETA       34,5         1
3        1249        9630   BERMUDA       79,5         2
4        1251        9425  CAMISETA       34,5         3
5        1252        9425   VESTIDO        102         1
6        1253        9481     CALCA       89,9         2
7        1254        9785      MEIA       25,9         1
8        1255        9786     CALCA       89,9         2
9        1256        9787   VESTIDO        102         1
10       1257        9788     CALCA       89,9         2
11       1258        9789  CAMISETA       34,5         3
12       1259        9790  CAMISETA       34,5         1
13       1260        9791   BERMUDA       79,5         2
14       1261        9792  CAMISETA       34,5         2
15       1262        9793     CALCA       89,9         2
16       1263        9794     CALCA       89,9         1
17       1264        9795   BERMUDA       79,5         2
18       1265        9796  CAMISETA       34,5         4
19       1266        9797  CAMISETA       34,5         1
20       1267        9798   VESTIDO        102         2
21       1268        9799      MEIA       25,9         3
22       1269        9800  CAMISETA       34,5         2
23       1270        9801     CALCA       89,9         1

## 1) FaÃ§a uma consulta que retorne os nomes dos produtos distintos que temos na base de venda.

<font color='darkblue'>**InterpretaÃ§Ã£o**</font>

<font color='darkblue'>Colunas: PRODUTO</font>

<font color='darkblue'>Filtros: NÃ£o</font>

<font color='darkblue'>Agrupamento:NÃ£o</font>

<font color='darkblue'>OrdenaÃ§Ã£o: NÃ£o</font>

<font color='darkblue'>Distintos: Sim, PRODUTO</font>

<font color='darkblue'>Limite: NÃ£o</font>

<font color='darkblue'>Origem: tb_vendas</font>

In [6]:
query = """
SELECT
DISTINCT PRODUTO
FROM TB_VENDAS
"""
result_df = run_query(query)
print(result_df)

    PRODUTO
0  CAMISETA
1     CALCA
2   BERMUDA
3   VESTIDO
4      MEIA

-------

## 2) FaÃ§a uma consulta que retorne a contagem dos clientes distintos que temos na nossa base, nÃ£o esqueÃ§a de renomear sua coluna.

Dica: VocÃª pode usar o distinct dentro do count()

<font color='darkblue'>**InterpretaÃ§Ã£o**</font>

<font color='darkblue'>Colunas: ID_CLIENTE</font>

<font color='darkblue'>Filtros: NÃ£o</font>

<font color='darkblue'>Agrupamento:NÃ£o</font>

<font color='darkblue'>OrdenaÃ§Ã£o: NÃ£o</font>

<font color='darkblue'>Distintos: Sim</font>

<font color='darkblue'>Limite: NÃ£o</font>

<font color='darkblue'>Origem: tb_vendas</font>

In [7]:
query = """
SELECT
COUNT(DISTINCT ID_CLIENTE) AS CONTAGEM_CLIENTES
FROM TB_VENDAS
"""
result_df = run_query(query)
print(result_df)

   CONTAGEM_CLIENTES
0                 22

-------

## 3) FaÃ§a uma consulta que retorne uma coluna com os produtos distintos e o valor_unid de cada produto. PorÃ©m apenas para produtos onde o valor_unid Ã© maior ou igual a 50 reais.

<font color='darkblue'>**InterpretaÃ§Ã£o**</font>

<font color='darkblue'>Colunas: PRODUTO, VALOR_UNID</font>

<font color='darkblue'>Filtros: Sim, VALOR_UNID</font>

<font color='darkblue'>Agrupamento:NÃ£o</font>

<font color='darkblue'>OrdenaÃ§Ã£o: NÃ£o</font>

<font color='darkblue'>Distintos: Sim, PRODUTO</font>

<font color='darkblue'>Limite: NÃ£o</font>

<font color='darkblue'>Origem: tb_vendas</font>

In [8]:
query = """
SELECT
DISTINCT PRODUTO,
CAST(VALOR_UNID AS INT) AS VALOR_INT
FROM TB_VENDAS
WHERE VALOR_INT >= 50
"""
result_df = run_query(query)
print(result_df)

   PRODUTO  VALOR_INT
0    CALCA         89
1  BERMUDA         79
2  VESTIDO        102

---------

## [DESAFIO] 4) FaÃ§a uma consulta que retorne o ID das compras e o valor total gasto nessa compra (Valor_unidade X Unidades) das 5 compras com mais valor total gasto.

In [9]:
query = """
SELECT
ID_COMPRA,
SUM(CAST(VALOR_UNID AS INT) * UNIDADES) AS VALOR_TOTAL
FROM TB_VENDAS
GROUP BY ID_COMPRA
ORDER BY VALOR_TOTAL DESC
LIMIT 5
"""
result_df = run_query(query)
print(result_df)

   ID_COMPRA  VALOR_TOTAL
0       1267          204
1       1262          178
2       1257          178
3       1255          178
4       1253          178

-----

## 5) FaÃ§a uma consulta que retorne os produtos e a mÃ©dia do preÃ§o da unidade dos produtos, ordenando do maior para o menor.

<font color='darkblue'>**InterpretaÃ§Ã£o**</font>

<font color='darkblue'>Colunas: PRODUTO, VALOR_UNID âž” AVG(VALOR_UNID) AS MEDIA_VALOR</font>

<font color='darkblue'>Filtros: NÃ£o</font>

<font color='darkblue'>Agrupamento: Sim, PRODUTO</font>

<font color='darkblue'>OrdenaÃ§Ã£o: Sim, MEDIA_VALOR ASC</font>

<font color='darkblue'>Distintos: NÃ£o</font>

<font color='darkblue'>Limite: NÃ£o</font>

<font color='darkblue'>Origem: tb_vendas</font>

In [10]:
query = """
SELECT
PRODUTO,
AVG(VALOR_UNID) AS MEDIA_VALOR
FROM TB_VENDAS
GROUP BY PRODUTO
ORDER BY MEDIA_VALOR ASC
"""
result_df = run_query(query)
print(result_df)

    PRODUTO  MEDIA_VALOR
0      MEIA         25.0
1  CAMISETA         34.0
2   BERMUDA         79.0
3     CALCA         89.0
4   VESTIDO        102.0

--------

## 6) FaÃ§a uma consulta que retorne o id dos 3 clientes da base de vendas que mais relalizaram compras e a quantidade de compras realizadas.

<font color='darkblue'>**InterpretaÃ§Ã£o**</font>

<font color='darkblue'>Colunas: ID_CLIENTE, ID_COMPRA âž” contar o nÃºmero de compras (COUNT(ID_COMPRA)) AS QTD_COMPRAS</font>

<font color='darkblue'>Filtros: NÃ£o</font>

<font color='darkblue'>Agrupamento: Sim âž” sem GROUP BY, o SQL calcula apenas um Ãºnico resultado agregado da tabela toda.</font>

<font color='darkblue'>OrdenaÃ§Ã£o: Sim, QTD_COMPRAS âž” decrescente</font>

<font color='darkblue'>Distintos: NÃ£o</font>

<font color='darkblue'>Limite: Sim, 3</font>

<font color='darkblue'>Origem: tb_vendas</font>

In [11]:
#contar o nÃºmero de compras (COUNT(ID_COMPRA))
#sem GROUP BY, o SQL calcula apenas um Ãºnico resultado agregado da tabela toda.
query = """
SELECT
ID_CLIENTE,
COUNT(ID_COMPRA) AS QTD_COMPRAS
FROM TB_VENDAS
GROUP BY ID_CLIENTE  
ORDER BY QTD_COMPRAS DESC
LIMIT 3
"""
result_df = run_query(query)
print(result_df)

   ID_CLIENTE  QTD_COMPRAS
0        9425            2
1        9081            2
2        9801            1